$light-blue: rgb(90, 195, 226);

.paginate-pages-div {
  text-align: center;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.pagination a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.0);
}

.pagination a:hover {
  background-color: $light-blue;
  border: 3px solid $light-blue;
}

.current {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  border: 3px solid $light-blue;
}

.next_page, .previous_page {
  background-color: $light-blue;
}

.next_page.disabled, .previous_page.disabled {
  background-color: rgba(0, 0, 0, 0.0);
  color: gray;
}

@media only screen and (max-width: 900px) {
  .paginate-pages-div {
    font-size: 28px;
  }

  .pagination {
    column-gap: 13px;
  }

  .pagination a, .current {
    padding: 5px 9px 5px 9px;
  }
}

@media only screen and (max-width: 428px) {
  .paginate-pages-div {
    font-size: 20px;
  }

  .pagination {
    column-gap: 12px;
  }

  .pagination a, .current {
    padding: 5px 8px 5px 8px;
  }
}

@media only screen and (max-width: 366px) {
  .paginate-pages-div {
    font-size: 18px;
  }

  .pagination {
    column-gap: 10px;
  }

  .pagination a, .current {
    padding: 5px;
  }
}

@media only screen and (max-width: 300px) {
  .paginate-pages-div {
    font-size: 17.5px;
  }

  .pagination {
    column-gap: 9px;
  }
}