<h1>Invite Friends</h1>
<h3>Chat name: <%= @chat.name %></h3>

<% @friends.each do |friend| %>
  <%= link_to friend.username, friend %>
  <%= 
    link_to "Invite", 
    invite_path(
      host_id: current_user.id, 
      guest_id: friend.id, 
      chat_id: @chat.id
    ) 
  %>
<% end %>