<div class="paginate-pages-div">
  <%= will_paginate locals[:data], inner_window: locals[:inner_window], outer_window: locals[:outer_window], previous_label: locals[:previous_label], next_label: locals[:next_label] %>
</div>