$blue: rgb(0, 155, 202);
$light-blue: rgb(90, 195, 226);
$dark-blue: rgb(0, 100, 131);

.message-form-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 998;
}

#message-character-counter-div {
  width: 50%;
  max-width: 924px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#message-char-text {
  width: fit-content;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 5px;
}

#message-form {
  width: 50%;
  max-width: 924px;
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 10fr 1fr;
}

#message-input-field {
  height: 50px;
  width: 100%;
  font-size: 15px;
  resize: none;
  border: 0px;
  padding: 7px;
}

#message-send {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  background-color: $light-blue;
  color: white;
  border: 0px;
}

@media only screen and (max-width: 1700px) {
  #message-form, #message-character-counter-div {
    width: 55%;
  }
}

@media only screen and (max-width: 1600px) {
  #message-form, #message-character-counter-div {
    width: 60%;
  }
}

@media only screen and (max-width: 1500px) {
  #message-form, #message-character-counter-div {
    width: 65%;
  }
}

@media only screen and (max-width: 1400px) {
  #message-form, #message-character-counter-div {
    width: 70%;
  }
}

@media only screen and (max-width: 1300px) {
  #message-form, #message-character-counter-div {
    width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  #message-form, #message-character-counter-div {
    width: 80%;
  }
}

@media only screen and (max-width: 1100px) {
  #message-form, #message-character-counter-div {
    width: 85%;
  }
}

@media only screen and (max-width: 1000px) {
  #message-form, #message-character-counter-div {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  #message-form, #message-character-counter-div {
    width: 100%;
    border: 0px;
  }
}

@media only screen and (max-width: 600px) {
  #message-send {
    font-size: 15px;
    padding: 5px 15px 5px 15px;
  }
}

@media only screen and (max-width: 500px) {
  #message-send {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  #message-send {
    font-size: 13.5px;
    padding: 5px 12px 5px 12px;
  }
}