.message-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.message-p {
  padding: 5px 8px 5px 8px;
  font-size: 15px;
  border-radius: 10px;
  width: fit-content;
}

.message-me {
  background-color: rgb(0, 162, 255);
  align-self: flex-end;
}

.message-them {
  background-color: rgb(172, 172, 172);
  align-self: flex-start;
}

.message-username {
  font-size: 13px;
  text-decoration: none;
  color: rgb(223, 223, 223);
}

.message-delete {
  font-size: 15px;
  align-self: flex-end;
  color: rgb(172, 172, 172);
}

.message-delete:hover {
  color: white;
}