.message-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.message-p {
  padding: 5px 8px 5px 8px;
  font-size: 15px;
  border-radius: 10px;
  width: fit-content;
  max-width: 50%;
  word-wrap: break-word;
}

.message-me {
  background-color: rgb(0, 162, 255);
  align-self: flex-end;
}

.message-them {
  background-color: rgb(172, 172, 172);
  align-self: flex-start;
}

.message-username {
  font-size: 13px;
  text-decoration: none;
  color: rgb(223, 223, 223);
}

.message-delete {
  font-size: 15px;
  align-self: flex-end;
  color: rgb(172, 172, 172);
}

.message-delete:hover {
  color: white;
}

@media only screen and (max-width: 900px) {
  .message-p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .message-p {
    max-width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .message-p {
    max-width: 65%;
  }
}

@media only screen and (max-width: 500px) {
  .message-p {
    max-width: 70%;
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  .message-p {
    max-width: 75%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .message-p {
    max-width: 80%;
    font-size: 11px;
  }
}