<h1>Hosted Chats</h1>

<%= render "chats/chat_links" %>

<% if @chats.count === 0 %>
  <p>You haven't created a chat yet, click <%= link_to "here", new_chat_path %></p>
<% else %>
  <% @chats.each do |chat| %>
    <%= render "chats/chat_item", locals: {chat: chat} %>
  <% end %>
<% end %>