<h1>Friend requests</h1>
<% unless @requests.length === 0 %>
  <% @requests.each do |request| %>
    <%= render "global_partials/user_request_options", locals: {user: request.requestor} %>
  <% end %>
<% else %>
  <div>No requests yet</div>
<% end %>