$blue: rgb(0, 155, 202);
$light-blue: rgb(90, 195, 226);

.chat-item-div {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 12fr 1fr;
  background-color: $blue;
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.chat-item-avatar {
  border-radius: 100%;
}

.chat-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
  padding-left: 10px;
}

.chat-item-name {
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
}

.chat-item-user-count {
  font-size: 14px;
  margin-right: 3px;
}

.chat-item-host {
  font-size: 13px;
}

.chat-item-dots {
  font-size: 25px;
}

.chat-item-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 5px 0 5px 0;
}

.chat-opt-drop-content {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 2;
  transform: translate(-50%, 1%);
  background-color: white;
}

.chat-opt-drop-content a {
  display: block;
  padding: 10px;
  font-size: 15px;
  color: $blue;
  text-decoration: none;
}

.chat-opt-drop-content i {
  color: $blue;
}

.chat-opt-drop-content a:hover {
  background-color: $light-blue;
  color: white;
}

.chat-opt-drop-content a:hover .nav-icon {
  color: white;
}

.chat-item-dropdown:hover .chat-opt-drop-content {
  display: block;
}

@media only screen and (max-width: 1400px) {
  .chat-item-avatar {
    height: 50px;
    width: 50px;
  }

  .chat-item-name {
    font-size: 15px;
  }
  
  .chat-item-user-count {
    font-size: 13px;
  }
  
  .chat-item-host {
    font-size: 12px;
  }

  .chat-item-dots {
    font-size: 24px;
  }

  .chat-opt-drop-content a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1200px) {
  .chat-item-avatar {
    height: 50px;
    width: 50px;
  }

  .chat-item-div {
    grid-template-columns: 1fr 11fr 1fr;
  }

  .chat-item-name {
    font-size: 14px;
  }
  
  .chat-item-user-count {
    font-size: 12px;
  }
  
  .chat-item-host {
    font-size: 11px;
  }

  .chat-item-dots {
    font-size: 22px;
  }

  .chat-opt-drop-content a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 900px) {
  .chat-item-div {
    grid-template-columns: 1fr 9fr 1fr;
  }

  .chat-item-name {
    width: 90%;
    word-wrap: break-word;
  }

  .chat-item-dots {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .chat-item-div {
    grid-template-columns: 1fr 8fr 1fr;
  }

  .chat-item-name {
    width: 300px;
  }
}

@media only screen and (max-width: 500px) {
  .chat-item-name {
    width: 250px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  .chat-item-dots {
    font-size: 19px;
  }

  .chat-item-name {
    width: 200px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .chat-item-name {
    width: 150px;
  }
}