$blue: rgb(0, 155, 202);

.new-chat-parent-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-chat-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  row-gap: 20px;
}

.new-chat-field {
  width: 100%;
  outline: none;
  border: 0px;
  font-size: 15px;
  padding: 7px;
  border-radius: 5px;
}

#new-chat-name-errors-length {
  display: none;
}

#new-chat-name-errors-length {
  font-size: 12px;
  font-style: italic;
}

#new-chat-submit {
  width: 100%;
  font-size: 18px;
  font-weight: 900;
  padding: 10px 0 10px 0;
  background-color: rgb(90, 195, 226);
  color: white;
  border: 0px;
  border-radius: 5px;
}

.error-div {
  border: 3px solid red;
  background-color: rgb(110, 0, 0);
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
}

.error-title {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 5px;
}

.error-li {
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  .new-chat-parent-div {
    width: 45%;
  }
}

@media only screen and (max-width: 900px) {
  .new-chat-parent-div {
    width: 55%;
  }
}

@media only screen and (max-width: 800px) {
  .new-chat-parent-div {
    width: 80%;
  }

  .error-title {
    font-size: 14px;
  }
  
  .error-li {
    font-size: 13px;
  }
}