$blue: rgb(0, 155, 202);
$dark-blue: rgb(0, 100, 131);

.user-show-div {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ava-and-user-opts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}

.user-show-avatar {
  border-radius: 100%;
  margin-right: 10px;
}

.user-show-profile {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  background-color: $blue;
  width: 45%;
  max-width: 832px;
  margin: auto;
  border-radius: 10px;
  padding: 20px 10px 20px 10px;
}

.user-profile-text-div {
  display: flex;
  justify-content: center;
  row-gap: 20px;
  flex-direction: column;
  width: 100%;
}

.user-show-text-limit {
  width: 650px;
  word-wrap: break-word;
}

.user-show-username {
  font-size: 25px;
  font-weight: 900;
}

.user-show-fullname {
  font-size: 15px;
}

.user-show-bio {
  font-size: 15px;
}

.user-show-friends {
  font-size: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 1800px) {
  .user-show-text-limit {
    width: 600px;
  }
}

@media only screen and (max-width: 1700px) {
  .user-show-text-limit {
    width: 550px;
  }
}

@media only screen and (max-width: 1600px) {
  .user-show-text-limit {
    width: 500px;
  }
}

@media only screen and (max-width: 1500px) {
  .user-show-profile {
    width: 55%;
  }

  .user-show-text-limit {
    width: 600px;
  }
}

@media only screen and (max-width: 1400px) {
  .user-show-text-limit {
    width: 525px;
  }
}

@media only screen and (max-width: 1300px) {
  .user-show-profile {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  .user-show-profile {
    width: 65%;
  }

  .user-show-text-limit {
    width: 540px;
  }
}

@media only screen and (max-width: 1100px) {
  .user-show-text-limit {
    width: 500px;
  }
}

@media only screen and (max-width: 1039px) {
  .user-show-text-limit {
    width: 475px;
  }
}

@media only screen and (max-width: 1000px) {
  .user-show-text-limit {
    width: 450px;
  }
}

@media only screen and (max-width: 963px) {
  .user-show-text-limit {
    width: 475px;
  }

  .user-show-profile {
    width: 70%;
  }

  .user-show-username {
    font-size: 23px;
  }
  
  .user-show-fullname, .user-show-bio {
    font-size: 14px;
  }
  
  .user-show-friends {
    font-size: 18px;
  }
}

@media only screen and (max-width: 963px) {
  .user-show-text-limit {
    width: 475px;
  }

  .user-show-profile {
    width: 70%;
  }
}

@media only screen and (max-width: 927px) {
  .user-show-text-limit {
    width: 450px;
  }
}

@media only screen and (max-width: 900px) {
  .user-show-text-limit {
    width: 800px;
    text-align: center;
  }

  .user-show-profile {
    width: 100%;
  }

  .user-show-username {
    font-size: 21px;
    text-align: center;
  }
  
  .user-show-fullname, .user-show-bio {
    font-size: 12px;
  }
  
  .user-show-friends {
    font-size: 13px;
  }

  .user-show-avatar {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .user-show-profile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 5px 20px 5px;
    align-items: center;
    justify-items: center;
  }

  .user-profile-text-div {
    align-items: center;
  }
}

@media only screen and (max-width: 814px) {
  .user-show-text-limit {
    width: 750px;
  }
}

@media only screen and (max-width: 760px) {
  .user-show-text-limit {
    width: 700px;
  }
}

@media only screen and (max-width: 712px) {
  .user-show-text-limit {
    width: 650px;
  }
}

@media only screen and (max-width: 660px) {
  .user-show-text-limit {
    width: 600px;
  }
}

@media only screen and (max-width: 606px) {
  .user-show-text-limit {
    width: 550px;
  }
}

@media only screen and (max-width: 558px) {
  .user-show-text-limit {
    width: 500px;
  }
}

@media only screen and (max-width: 512px) {
  .user-show-text-limit {
    width: 450px;
  }
}

@media only screen and (max-width: 462px) {
  .user-show-text-limit {
    width: 400px;
  }
}

@media only screen and (max-width: 410px) {
  .user-show-text-limit {
    width: 350px;
  }

  .user-show-avatar {
    height: 140px;
    width: 140px;
  }

  .user-show-username {
    font-size: 21px;
  }
  
  .user-show-fullname, .user-show-bio {
    font-size: 12px;
  }
  
  .user-show-friends {
    font-size: 13px;
  }
}

@media only screen and (max-width: 368px) {
  .user-show-text-limit {
    width: 300px;
  }

  .user-show-avatar {
    height: 130px;
    width: 130px;
  }

  .user-show-username {
    font-size: 19px;
  }
  
  .user-show-fullname, .user-show-bio {
    font-size: 11px;
  }
  
  .user-show-friends {
    font-size: 13px;
  }
}

@media only screen and (max-width: 314px) {
  .user-show-text-limit {
    width: 275px;
  }
}

@media only screen and (max-width: 290px) {
  .user-show-text-limit {
    width: 260px;
  }
}