$blue: rgb(0, 155, 202);
$dark-blue: rgb(0, 100, 131);

.invites-flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  max-width: 720px;
  margin: auto;
  row-gap: 40px;
}

.invite-div-container {
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  row-gap: 20px;
}

.invite-top-div {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 12fr;
}

.invite-avatar {
  border-radius: 100%;
  margin-right: 10px;
}

.invite-description {
  display: flex;
  align-items: center;
  width: 600px;
  height: 100%;
  word-wrap: break-word;
  font-size: 15px;
}

.invite-btn-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.invite-index-accept {
  background-color: green;
  font-size: 15px;
}

.invite-index-decline {
  background-color: red;
  font-size: 15px;
}

.invites-index-view-chat {
  background-color: $dark-blue;
  font-size: 15px;
}

.invite-index-btn {
  padding: 10px;
  font-weight: 900;
  text-decoration: none;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

@media only screen and (max-width: 1700px) {
  .invite-description {
    width: 550px;
  }
}

@media only screen and (max-width: 1600px) {
  .invite-description {
    width: 500px;
  }
}

@media only screen and (max-width: 1400px) {
  .invites-flex-div {
    width: 45%;
  }
}

@media only screen and (max-width: 1300px) {
  .invite-description {
    width: 525px;
  }

  .invites-flex-div {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .invite-description {
    width: 500px;
  }

  .invites-flex-div {
    width: 55%;
  }
}

@media only screen and (max-width: 1100px) {
  .invites-flex-div {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .invites-flex-div {
    width: 65%;
  }
}

@media only screen and (max-width: 900px) {
  .invite-description {
    width: 600px;
  }

  .invites-flex-div {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .invite-description {
    width: 550px;
  }
}

@media only screen and (max-width: 650px) {
  .invite-description {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .invite-description {
    width: 450px;
  }
}

@media only screen and (max-width: 550px) {
  .invite-description {
    width: 400px;
    font-size: 14px;
  }

  .invite-index-accept, .invite-index-decline, .invites-index-view-chat {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .invite-description {
    width: 350px;
    font-size: 13px;
  }

  .invite-index-accept, .invite-index-decline, .invites-index-view-chat {
    font-size: 13px;
  }
}

@media only screen and (max-width: 450px) {
  .invite-description {
    width: 325px;
  }
}

@media only screen and (max-width: 400px) {
  .invite-description {
    width: 300px;
    font-size: 12px;
  }

  .invite-index-accept, .invite-index-decline, .invites-index-view-chat {
    font-size: 12px;
  }

  .invite-avatar {
    height: 45px;
    width: 45px;
  }
}

@media only screen and (max-width: 375px) {
  .invite-description {
    width: 250px;
    font-size: 11px;
  }

  .invite-index-accept, .invite-index-decline, .invites-index-view-chat {
    font-size: 11px;
  }

  .invite-avatar {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .invite-description {
    width: 225px;
    font-size: 10px;
  }

  .invite-index-accept, .invite-index-decline, .invites-index-view-chat {
    font-size: 10px;
  }

  .invite-avatar {
    height: 35px;
    width: 35px;
  }
}

@media only screen and (max-width: 325px) {
  .invite-description {
    width: 200px;
    font-size: 9.5px;
  }

  .invite-avatar {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 291px) {
  .invite-description {
    font-size: 9.25px;
  }
}